#header{
    padding-top: 1%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
}

#h-right>input{
    margin-top: 2%;
    height: 2.3vh;
    width: 20vw;
    padding: 1%;
    font-size: 120%;
}

#h-left{
    margin-left: 10%;
    font-size: 2.3em;
}

#h-left>i{
    font-size: 1.5em;
}

#h-right{
    text-align: center;
}

#movie-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1%;
}

#each{
    background-color: white;
    margin:3% 3% 3% 3%;
    padding: 4% 4% 4% 5%;
    
}

#name{
    font-size: 150%;
    text-align: center;
}

#footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#vote{
    text-align: right;
}

